/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: normal;
    
}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 147px;
    
}

/* nav style section */
.banner{
    display: flex;
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;


}
.banner-content{
   margin-left: 240px;

}
.banner-tittle{
    width: 708px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner-description{
    width: 634px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

}
.banner .profile-pic{
    width: 635px;
    height: 850px;
    flex-shrink: 0;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
    padding-right: 240px;
    padding-left: 97px;
    padding-bottom: 0px;
    

}
/* main section styles */
main{
    width: 1920px;
    height: 4867px;
    background: #FFF;
    padding bottom: 150px
    ;

}
/* featured section styles */
.featured{
    text-align: center;
}
.section-tittle{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.flower-sample{
    display: flex;
    justify-content: space-between;
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    padding: 48px 240px 150px 240px;

}
.flower-sample1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 76px;
    
    

}
.flower-sample2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
    margin-left: 20px;
}
.flower-sample3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0px 75px;
    margin-left: 20px;
}
.flower-name{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}